<html>
  <head>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/head.css">
  </head>
  <body>
    <%- include('include/head') %>
    <div class="slider">
      <div class="figure">
        <img src="img/flight1.jpg">
        <img src="img/flight2.jpg">
        <img src="img/flight3.jpg">
        <img src="img/flight4.jpg">
        <img src="img/flight1.jpg">
      </div>
    </div>
  </body>
</html>
