
        <div class="navbar">
            <a href="index">Home</a>
            <div class="dropdown">
              <button class="dropbtn">AIRPORT 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="addairport">ADD NEW</a>
                <a href="viewairport">VIEW EXISTING</a>
              </div>
            </div> 
            <div class="dropdown">
              <button class="dropbtn">FLIGHTS 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="addflight">NEW FLIGHT</a>
                <a href="viewflight">VIEW FLIGHTS</a>
              </div>
            </div> 
            <div class="dropdown">
              <button class="dropbtn">EMPLOYEES 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="addemp">ADD EMP</a>
                <a href="viewemp">VIEW EMP</a>
              </div>
            </div> 
            <div class="dropdown">
              <button class="dropbtn">PASSENGER 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="passinfo">INFO</a>
                <a href="bookdetails">BOOKING DETAILS</a>
              </div>
            </div> 
          </div>
    